name: Integration Tests Windows

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'v*'

jobs:
  e2e:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@main
        with:
          flutter-version: '3.x'
          channel: 'stable'
      - name: install deps
        run: |
          flutter config --enable-windows-desktop
          flutter pub get
      - run: "cd example && flutter test -d windows integration_test/app_test.dart"
      - run: "cd example && flutter test test/app_test.dart"