name: Integration Tests macOS

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'v*'

jobs:
  e2e:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@main
        with:
          flutter-version: '3.x'
          channel: 'stable'
      - name: install deps
        run: |
          flutter config --enable-macos-desktop
          flutter pub get
          cd example/macos && pod install
      - run: "cd example && flutter test -d macos integration_test/app_test.dart"
      - run: "cd example && flutter test test/app_test.dart"
