name: Integration Tests iOS

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'v*'

jobs:
  e2e:
    runs-on: macos-13
    steps:
      - uses: futureware-tech/simulator-action@v1
        with:
          model: "iPhone 14 Plus"
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@main
        with:
          flutter-version: '3.x'
          channel: 'stable'
      - name: install deps
        run: |
          flutter pub get
          cd example/ios && pod install
      - run: "cd example && flutter test --verbose --no-enable-impeller integration_test/app_test.dart"